<template>
  <div class="all-check-ins">
    <h3>View Check-Ins</h3>
    <button type="button" v-on:click="getCheckIns">Get Check Ins</button>
    <br>
    <br>
    <!-- 
    <ul>
      <li v-for="x in checks" :key="x.timeStamp">{{ x.agent }} - {{ x.timeStamp }} - {{ x.status}}</li>
    </ul>
    -->

    <b-list-group>
      <b-list-group-item
        v-for="x in checks"
        :key="x.timeStamp"
      >{{ x.agent }} - {{ x.timeStamp }} - {{ x.status}}</b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import store from "../../store.js";

import axios from "axios";

export default {
  name: "AllCheckins",
  data() {
    return {};
  },
  components: {},
  computed: {
    checks() {
      return this.$store.getters.agentStatusCheck;
    }
  },
  methods: {
    getCheckIns() {
      axios.get(process.env.VUE_APP_GET_CHECKINS_URL).then(response => {
        const data = response.data.flat();
        store.commit("SET_CHECKS", data);
      });
    }
  }
};
</script>
