<template>
  <div class="all-reports">
    <h3>View Reports</h3>
    <button type="button" v-on:click="getReports">Get Reports</button>
    <br>
        <ul>
        <li v-for="x in reports" :key="x.timeStamp">
          {{ x.agent }} - {{ x.timeStamp }} - {{ x.report_title}}
        </li>
      </ul>
  </div>
</template>

<script>
import store from "../../store.js";

import axios from "axios";

export default {
  name: "AllReports",
  data() {
    return {};
  },
  components: {},
  computed: {
    reports() {
      return this.$store.getters.viewReports;
    }
  },
  methods: {
    getReports() {
      axios
        .get(
          process.env.VUE_APP_GET_REPORTS_URL,
        )        
        .then(response => {
          const data = response.data.flat();
          store.commit("SCAN_REPORTS", data); 
        });    
    }
  }
};
</script>