<template>
  <div id="login">
    <h1>Login</h1>
    <input type="text" name="username" v-model="username" placeholder="Username">
    <br>
    <input type="password" name="password" v-model="password" placeholder="Password">
    <br>
    <button type="button" v-on:click="login">Login</button>
    <br>
  </div>
</template>

<script>
import store from "../store.js";

import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      const username = this.username;
      const password = this.password;
      const authData = {
        username,
        password
      };
      axios
        .post(
          process.env.VUE_APP_LOGIN_URL,
          {
            body: authData
          }
        )
        .then(response => {
          // console.log(process.env.VUE_APP_LOGIN_URL);
          if (response.data == 0) {
            // console.log("Successful User Login");
            store.commit("SET_USER", username);
            store.commit("SET_LOGIN_STATUS"); 
            //TODO: Local Storage Workflow, if needed
          } else if (response.data == 2) {
            // console.log("Successful Admin Login");
            store.commit("SET_USER", username);
            store.commit("SET_ADMIN");
            store.commit("SET_LOGIN_STATUS"); 
          } else {
            // console.log("Incorrect Credentials");
            // TODO: Add alert with error message for user
          }
        });
      /*
        .catch(e => {
          this.errors.push(e);
        });
        */
    }
  }
};
</script>

<style scoped>
</style>