<template>
  <div id="register">
    <h1>Register</h1>
    <input type="text" name="email" v-model="email" placeholder="email">
    <br>
    <input type="text" name="username" v-model="username" placeholder="Username">
    <br>
    <input type="password" name="password" v-model="password" placeholder="Password">
    <br>
    <button type="button" v-on:click="register()">Register</button>
    <br>
    <button type="button" v-on:click="dataCheck()">Data Check</button>
    <br>
  </div>
</template>

<script>
// import store from "../store.js";

export default {
  name: "Register",
  data() {
    return {
      email: "",
      username: "",
      password: ""
    };
  },
  methods: {
    // CHANGE THIS TO THE FLOW IN LOGIN PAGE
    /*
    register() {
      const email = this.email.trim();
      const username = this.username;
      const password = this.password;
      const attributeList = [
        new CognitoUserAttribute({
          Name: "email",
          Value: email
        })
      ];

      userPool.signUp(username, password, attributeList, null, function(
        err,
        result
      ) {
        if (err) {
          alert(err.message || JSON.stringify(err));
          return;
        }
        var cognitoUser = result.user;
        console.log("user name is " + cognitoUser.getUsername());
        store.commit('SET_LOGIN_STATUS');
        this.$router.replace({ name: "home" });
      });
    }
    */
  }
};
</script>

<style scoped>
</style>