<template>
  <div class="Report">
    <!-- <span>Multiline message is:</span> 
    <p style="white-space: pre-line;">{{ reportContents }}</p>-->
    <h4>Warehouse Report</h4>

    <input v-model="reportTitle" placeholder="Report Title">
    <br>
    <textarea v-model="report" placeholder="Add Periodic Warehouse Report"></textarea>
    <br>
    <button type="button" v-on:click="submitReport">Submit Report</button>
    <br>
  </div>
</template>

<script>
const uuidv4 = require("uuid/v4");

import store from "../store.js";

import axios from "axios";

export default {
  name: "Report",
  data() {
    return {
      reportTitle: "",
      report: "",
      agent: "",
      GUID: "",
      timeStamp: "",
      errors: [],
      reportLogs: []
    };
  },
  methods: {
    submitReport() {
      const title = this.reportTitle;
      const report = this.report;
      const agent = store.getters.currentUser;
      const GUID = uuidv4();
      const timeStamp = Date.now();
      /*
      console.log("Title is: ", title);
      console.log("Report is: ", report);
      console.log("GUID is: ", GUID);
      console.log("Timestamp is: ", timeStamp);
      console.log("Agent is: ", agent);
      */
      axios
        .post(
          process.env.VUE_APP_ADD_REPORT_URL,
          {
            GUID: GUID,
            agent: agent,
            title: title,
            timeStamp: timeStamp,
            report: report
          }
        )
        .then(response => {
          this.reportLogs.push(response)
        })
        .catch(e => {
          this.errors.push(e);
        });
      this.reportTitle = "";
      this.report = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
