<template>
  <div class="check-in">
    <div>
      <b-card-group deck>
        <b-card
          title="Normal"
          img-src="https://picsum.photos/200/200/?image=41"
          img-alt="Image"
          img-top
        >
          <b-button variant="success" v-on:click="greenCheckIn">Green Check In</b-button>
          <br>
          <br>
          <b-card-text>This Check-in is to report Normal Warehouse Operations</b-card-text>
          <!-- 
          <div slot="footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          -->
        </b-card>

        <b-card
          title="Minor Malfunctions"
          img-src="https://picsum.photos/300/300/?image=42"
          img-alt="Image"
          img-top
        >
          <b-button variant="warning" v-on:click="yellowCheckIn">Yellow Check In</b-button>
          <br>
          <br>
          <b-card-text>This Check-in is to report minor malfcuntions in warehouse operations</b-card-text>
        </b-card>

        <b-card
          title="Operations Down"
          img-src="https://picsum.photos/300/300/?image=43"
          img-alt="Image"
          img-top
        >
          <b-button variant="danger" v-on:click="redCheckIn">Red Check In</b-button>
          <br>
          <br>
          <b-card-text>This Check-in is to report major malfunctions in warehouse operations</b-card-text>
        </b-card>
      </b-card-group>
    </div>

    <!-- 
    <button v-on:click="greenCheckIn">Green Check In</button>
    <button v-on:click="yellowCheckIn">Yellow Check In</button>
    <button v-on:click="redCheckIn">Red Check In</button>
    <br>
    <br>
    -->
    <br>
    <!-- {{ isLoggedIn }} -->
  </div>
</template>

<script>
import axios from "axios";

import store from "../store.js";

const uuidv4 = require("uuid/v4");

export default {
  name: "Checkin",
  data() {
    return {
      agent: "",
      status: "",
      // checkInTime: "",
      timeStamp: "",
      GUID: "",
      errors: [],
      checkinLogs: []
      // Use this to eventually DRY out the code
      // colors / statuses: ['Green', 'Yellow', 'Red']
    };
  },
  computed: {
    isLoggedIn: function() {
      return store.state.isLoggedIn;
    }
  },
  methods: {
    changeLoginStatus: function() {
      store.commit("SET_LOGIN_STATUS");
    },
    greenCheckIn: function() {
      this.status = "Green";
      this.agent = "Finkerton";
      // this.checkInTime = new Date();
      this.timeStamp = Date.now();
      this.GUID = uuidv4();
      /*
      console.log(this.agent);
      console.log(this.status);
      console.log(this.GUID);
      console.log(this.timeStamp);
      */
      axios
        .post(process.env.VUE_APP_CHECK_IN_URL, {
          agent: this.agent,
          status: this.status,
          // checkInTime: this.checkInTime,
          timeStamp: this.timeStamp,
          GUID: this.GUID
        })
        .then(response => {
          this.checkinLogs.push(response);
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    yellowCheckIn: function() {
      this.status = "YELLOW";
      this.agent = "Kowalski";
      // this.checkInTime = new Date();
      this.GUID = uuidv4();
      this.timeStamp = Date.now();
      axios
        .post(process.env.VUE_APP_CHECK_IN_URL, {
          agent: this.agent,
          status: this.status,
          // checkInTime: this.checkInTime,
          timeStamp: this.timeStamp,
          GUID: this.GUID
        })
        .then(response => {
          this.checkinLogs.push(response);
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    redCheckIn: function() {
      this.status = "RED";
      this.agent = "Ibimbi";
      // this.checkInTime = new Date();
      this.timeStamp = Date.now();
      this.GUID = uuidv4();
      axios
        .post(process.env.VUE_APP_CHECK_IN_URL, {
          agent: this.agent,
          status: this.status,
          // checkInTime: this.checkInTime,
          timeStamp: this.timeStamp,
          GUID: this.GUID
        })
        .then(response => {
          this.checkinLogs.push(response);
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
