<template>
  <div id="app">
    <div id="nav">
      <!-- <button v-if="checkForUser" to="/login" v-on:click="logout()" replace>Logout</button> -->
      <button v-if="checkForUser" v-on:click="logout">Logout</button>
      <span v-if="checkForUser"> Hi, {{ getUser }}</span>
    </div>

    <template v-if="checkForAdmin">
      <AdminHeader />
      <AllCheckins/>
      <br>
      <AllReports />
    </template>

    <template v-else-if="checkForUser">
      <Header/>
      <Checkin/>
      <Report/>
    </template>

    <template v-else>
      <Header/>
      <Login/>
    </template>
  </div>
</template>


<script>
import Header from "./components/Header";
import Checkin from "./components/Checkin";
import Login from "./views/Login";
// import Home from "./views/Home";
import AllCheckins from "./components/admin/AllCheckins";
import AllReports from "./components/admin/AllReports";
import AdminHeader from "./components/AdminHeader";
import Report from "./components/AddReport";

import store from "./store.js";

export default {
  name: "App",

  // This is how you "register" components, finally makes sense
  components: {
    Header,
    AdminHeader,
    Checkin,
    Login,
    AllCheckins,
    Report,
    AllReports
    // Home

  },
  data() {
    return {};
  },
  computed: {
    checkForUser: function() {
      return store.getters.checkAuth;
    },
    checkForAdmin: function() {
      return store.getters.checkAdmin;
    },
    getUser: function() {
      return store.getters.currentUser;
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    logout() {
      store.commit("SET_LOGIN_STATUS");
      store.commit("UNSET_ADMIN");
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
